<!doctype html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Home</title>
</head>
<body>
    <div>
        <span>Vos Projets:</span>
        <ul>
            {% for repo in user_repo %}
                <li>{{repo}}</li>
            {% endfor %}
        </ul>
    </div>
    <div>
        <span>Contributeurs:</span>
        <ul>
            <li>contributeur 1</li>
            <li>contributeur 2</li>
            <li>contributeur 3</li>
        </ul>
    </div>
</body>
</html>