<!doctype html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Gollum | Account</title>
</head>
<body>
    <form action="" method="post">
        {% for field in form %}
            <div>
                {{ field.label }}
                {{ field }}
            </div>
            {% if field.errors %}
                {% for error in field.errors %}
                    <span>{{ error }}</span>
                {% endfor %}
            {% endif %}
        {% endfor %}
        <div>
            <button type="submit">confirm</button>
        </div>
    </form>
</body>
</html>